@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

:root {
  --main-light: #008080;
  --main-dark: #012222;
  --support: #ff4500;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
}

body::-webkit-scrollbar-track {
  background-color: var(--main-light);
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--grey-light);
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  color: light;
}

.navbar.sticky {
  height: 8rem;
  background-color: var(--dark);
  box-shadow: 0 1rem 10rem rgba(255, 68, 0, 0.6);
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo span { 
  font-family: 'Loved by the King', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;  /* might remove */
  font-weight: light;
  color: var(--light)
}

.sticky .logo span {
  color: var(--support);
}

.multi-page-nav .logo span {
  color: var(--support);
}

.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 2.9rem;
  left: 50%;
  transform: translateX(-50%);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid var(--main-light);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
} 

.nav-item:hover::after {
  opacity: 1;
  visibility: visible;
}

.sticky .nav-item::after {
  top: 6rem;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--light);
  letter-spacing: 0.1rem;
}

.sticky .nav-link {
  color: green;
}

.multi-page-nav .nav-link {
  color: green;
}

.dropdown {
  position: absolute;
  top: 4.9rem;
  background-color: var(--dark);
  border-radius: 1rem;
  border: 0.3rem solid var(--main-light);
  padding: 2rem;
  opacity: 0; 
  visibility: hidden;
  transition: all 0.3s; 
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.sticky .dropdown {
  top: 8rem;
}

.dropdown-1 {
  left: -24rem;
  width: 96rem;
  height: 60rem;
  display: flex;
}

.dropdown-1-left {
  width: 30%;
  padding-right: 4rem;
}

.dropdown-1-right {
  width: 70%;
  padding-left: 2rem;
}

.dropdown-1-left h3,
.dropdown-1-right h3 {
  font-size: 1.8rem;
  color: var(--light);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem dotted var(--main-light);
}

.courses-list-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.courses-list-item i {
  font-size: 2rem;
  width: 4rem;
  color: var(--main-light);
  transition: color 0.3s;
}

.courses-list-item span {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--light);
  transition: color 0.3s;
}

.courses-list-item:hover span {
  color: var(--main-light);
}

.dropdown-services {
  height: 45rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-service {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  cursor: pointer;
} 

.dropdown-service i {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  font-size: 2.5rem;
  color: var(--main-light);
  transition: transform 0.3s;
}

.dropdown-service:hover i {
  transform: scale(1.1);
}

.dropdown-service-item {
  display: flex;
  flex-direction: column;
}

.dropdown-service-item span {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--light);
  transition: color 0.3s; 
}

.dropdown-service-item span:hover {
  color: var(--main-light);
}

.dropdown-2 {
  width: 90rem;
  height: 37rem;
  left: -27rem;
  display: flex;
}

.dropdown-3 {
  width: 40rem;
  height: 47rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.dropdown-4 {
  width: 28rem;
  height: 33rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.dropdown-5 {
  width: 30rem;
  height: 32rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.5rem;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  font-size: 13rem;
  color: var(--light);
}

.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: transparent;
  border: 0.1rem solid var(--light);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--light);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.banner button:hover {
  color: var(--dark);
  border: 2px solid var(--light);
  background: var(--light);
}

.banner button:active {
  transform: scale(0.95);
}

.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: var(--dark);
  top: -95%;
  left: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.99;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: var(--main-dark);
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: var(--main-dark);
  top: -60%;
  right: 10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
}

@media (max-width: 1600px) {
  html {
    font-size: 60%;
  } 
}
@media (max-width: 1440px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 1024px) {
  .banner {
    top: 16%;
    left: 18%;
  }
  .banner h1 {
    font-size: 9rem;
  }
  .banner h3 {
    font-size: 2rem;
  }
  .bg-main {
    left: -25%;
  }
  .bg-1 {
    right: -5%;
  }
  .bg-2 {
    width: 60%;
  }
}
@media (max-width: 820px) {
  .bg-main {
    width: 250%;
    top: -105%;
    left: -50%;
  }
  .bg-1 {
    right: -10%;
  }
  .bg-2 {
    right: 10%;
  }
}
@media (max-width: 430px) {
  .html {
    font-size: 45%;
  }
  .banner {
    left: 8%;
  }
  .bg-main {
    top: -75%;
    left: -120%;
    background: linear-gradient(
    to left,
    var(--black),
    var(--dark));
  }
  .bg-2 {
    left: 20%;
  }
}
@media (max-width: 375px) {
  .bg-2 {
    left: 30%;
  }
}