@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'League Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --light: #fffaf0;
  --dark: #000;
  --grey-xdk: #111;
  --grey-dk: #222;
  --grey-md: #333;
  --grey-lg: #ccc;
  --grey-xlg: #eee;
}

.container {
  width: 100%;
  height: 100%;
  background-color:#fffaf0;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(
    to left,
    var(--dark),
    var(--grey-xdk),
    var(--grey-dk));
    top: -95%;
    left: -10%;
    transform: rotateZ(-15deg) skewX(30deg);
}