@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'League Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --light: #fffaf0;
  --dark: #000;
  --grey-xdk: #111;
  --grey-dk: #222;
  --grey-md: #333;
  --grey-lg: #ccc;
  --grey-xlg: #eee;
  --orange-dk: #b13e14;
  --orange-md: #ff4500;
  --orange-lg: #f7591f;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  overflow: hidden;
}



/* Temp Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  display: flex;
  flex-direction: column;  
  font-family: 'Amatic SC', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;  /* might remove */
  font-weight: bold;
  color: var(--light)
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--light)
}


.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  /* font-family: 'Amatic SC', sans-serif; */
  font-weight: 400;
  font-size: 13rem;
  color: var(--light);
}

.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--light);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: transparent;
  border: 2px solid var(--light);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--light);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.banner button:hover {
  color: var(--grey-xdk);
  border: 2px solid var(--light);
  background: var(--light);
}

.banner button:active {
  transform: scale(0.95);
}

.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(
    to left,
    var(--dark),
    var(--grey-xdk),
    var(--grey-dk));
    top: -95%;
    left: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.99;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    transparent 60%,
    var(--orange-lg),
    var(--orange-md));
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    transparent 70%,
    var(--orange-dk),    
    var(--orange-md));
  top: -60%;
  right: 10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  opacity: 0.7;
  box-shadow: inset 0 -0.5rem 1rem rgba(184, 25, 25, 0.9);
}

@media (max-width: 1600px) {
  html {
    font-size: 60%;
  } 
}
@media (max-width: 1440px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 1024px) {
  .banner {
    top: 16%;
    left: 18%;
  }
  .banner h1 {
    font-size: 9rem;
  }
  .banner h3 {
    font-size: 2rem;
  }
  .bg-main {
    left: -25%;
  }
  .bg-1 {
    right: -5%;
  }
  .bg-2 {
    width: 60%;
  }
}
@media (max-width: 820px) {
  .bg-main {
    width: 250%;
    top: -105%;
    left: -50%;
  }
  .bg-1 {
    right: -10%;
  }
  .bg-2 {
    right: 10%;
  }
}
@media (max-width: 430px) {
  .html {
    font-size: 45%;
  }
  .banner {
    left: 8%;
  }
  .bg-main {
    top: -75%;
    left: -120%;
    background: linear-gradient(
    to left,
    var(--dark),
    var(--grey-xdk));
  }
  .bg-2 {
    left: 20%;
  }
}
@media (max-width: 375px) {
  .bg-2 {
    left: 30%;
  }
}